{
  "extends": "airbnb-base",
  "globals": {
    "afterEach": false,
    "beforeEach": false,
    "describe": false,
    "expect": false,
    "it": false
  },
  "rules": {
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true
    }],
    "indent": ["warn", 2, { "MemberExpression": "off" }]
  }
}
